    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% for message in messages %}
    {% if message.tags == 'success' %}
        <!-- sweetalert js -->
        <script>
        var m = "{{ message }}";
        Swal.fire({
            title: "Success",
            text: m,
            icon: "success",
            button: "Aww yiss!",
        });
        </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <!-- sweetalert js -->
    <script>
        var m = "{{ message }}";
        Swal.fire({
          title: "Success",
          text: m,
          icon: "error",
          button: "Aww yiss!",
      });
    </script>
    {% endif %}
    {% endfor %}