{% extends "backend/admin-base.html" %}
{% load static %}

{% block title %}
    <title>Dashboard </title>
{% endblock title %}

{% block style %}  
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock style %}


{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
              <div class="row">
                <div class="col-sm-12">
                  <div class="row b_o_x_parent">
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>National Properties</p>
                          <p>{{nationalCount}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/skyline.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Total Testimonials</p>
                          <p>{{testimonial_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/quotation.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>International Properties</p>
                          <p>{{internationalCount}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/skyline.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Total Messages</p>
                          <p>{{message_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/conversation.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Premium Properties</p>
                          <p>{{premium_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/skyline.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Total Faq</p>
                          <p>{{faq_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/question.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Standard Properties</p>
                          <p>{{standard_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/skyline.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Total Amenities</p>
                          <p>{{amenities_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/cancer.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Total Places</p>
                          <p>{{places_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/map.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="px-3 col-md-4 col-12 mb-3">
                      <div class="b_o_x">
                        <div>
                          <p>Featured Properties</p>
                          <p>{{featured_count}}</p>
                        </div>
                        <div>
                          <img src="{% static 'img/dashboard/skyline.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 col-12 grid-margin stretch-card">
                      <div class="card bg-primary card-rounded">
                        <div class="card-body pb-0">
                          <h4 class="card-title card-title-dash text-white mb-4">Status Summary</h4>
                          <div class="row">
                            <div class="col-sm-4">
                              <p class="status-summary-ight-white mb-1">Total Properties</p>
                              <h2 class="text-info">{{totalCount}}</h2>
                            </div>
                            <div class="col-sm-8">
                              <div class="status-summary-chart-wrapper pb-4">
                                <canvas id="status-summary"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



{% block script %}
    
    <script>
        document.querySelector('.dash-nav').classList.add('active')
    </script>

    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock script %}
