
{% extends "backend/admin-base.html" %}
{% load static %}

{% block title %}
    <title>Faq | KNK</title>
{% endblock title %}

{% block style %}  
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock style %}


{% block content %}
<div class="toggle">

  <div class="panels">
      <div class="panel">
          <h4 class="panel-head">FAQ</h4>
          <div class="search-icon">
              <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
              <input type="text" placeholder="Search here" class="search-input" id="search__input">
          </div>
          <div class="px-5 property-head">
              <div class="row">
                  <div class="col-2">
                      <span>SI.NO</span>
                  </div>
                  <div class="col-4">
                      <span>Question</span>
                  </div>
                  <div class="col-4">
                      <span>Answer</span>
                  </div>
                  <div class="col-2">
                      <span>Actions</span>
                  </div>
              </div>
          </div>


          <div class="px-5 property-parent">
            {% for x in faq %}
             <div class="row each-property">
                <div class="col-2">
                    <span>{{forloop.counter}}</span>
                </div>
                <div class="col-4">
                    <span>{{x.question}} ?</span>
                </div>
                <div class="col-4">
                    <span class="faq-span">{{x.answer}}</span>
                </div>
                <div class="col-2 d-flex">
                    <a href="{% url 'faq-edit' x.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'faq-delete' x.id %}"><i class="fa-solid fa-trash"></i></a>
                </div>
             </div>
            {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock content %}



{% block script %}
    

    <script>
        document.querySelector('.faq-nav').classList.add('actives')
    </script>

    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script src="{% static 'js/amenities-search.js' %}"></script>

    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>

{% endblock script %}