{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
{{title}} | KNK
{% endblock title %}

{% block content %}

<div class="property-section">
    <div class="container">
        <h4 class="mt-5 heading text-center mb-md-4 mb-2">{{txt}} <span>{{span}}</span></h4>
    </div>
</div>

  <div class="sample-section container mt-3">
    <div class="property-box">
        <div class="row">
            {% for x in properties  %}
            <div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
                <a href="{% url 'single' x.slug %}">
                    <div class="box mt-3">
                        <div class="owl-carousel owl-theme img-box">
                            <div class="item">
                                <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                            </div>
                            {% if x.property_image_two %}
                            <div class="item">
                                <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                            </div>
                            {% endif %}
                            {% if x.property_image_three %}
                            <div class="item">
                                <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                            </div>
                            {% endif %}
                        </div>
                        <span class="buy-rent">{{x.buy_rent}}</span>
                        <span class="circle"></span>
                        <div class="txt-section">
                            <h3>{{x.property_name}}</h3>
                            <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                            <span class="price">{{x.property_price}} AED</span>
                            <div class="mt-3 d-flex align-items-center">
                                <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                    <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                    <p class="m-0">{{x.total_bedroom}}</p>
                                </div>
                                <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                    <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                    <p class="m-0">{{x.total_bathroom}}</p>
                                </div>
                                <div class="d-flex">
                                    <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                                    <p class="m-0">{{x.property_area}}</p>
                                </div>
                            </div>
                            <p class="ref-id">{{x.ref_id}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>  
  </div>


  
{% endblock content %}


{% block script %}
<!-- jquery cdn   -->
<script src="{% static 'js/frontend/buy.js' %}"></script>
{% endblock script %}


    
