{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
{{title}} | KNK
{% endblock title %}

{% block content %}



{% if properties %}
<div class="property-section">
    <div class="container">
        <h4 class="mt-5 heading text-center mb-md-4 mb-2">{{txt}} <span>{{span}}</span></h4>
    </div>
</div>
{% else %}
<div class="property-section">
    <div class="container">
        <h4 class="mt-5 heading text-center mb-md-4 mb-2">Oops, <span>No Properties to Dispay</span></h4>
    </div>
</div>
{% endif %}

  <div class="sample-section container mt-3">
    <div class="property-box">
        <div class="row">
            {% for x in properties  %}
                {% include "frontend/card.html" %}
            {% endfor %}
        </div>  
  </div>


  
{% endblock content %}


{% block script %}
<!-- jquery cdn   -->
<script>
    {% if buy %}    
    document.querySelectorAll('.buy-nav').forEach(element => {
        element.classList.add('active')
    });
    {% else %}
    document.querySelectorAll('.rent-nav').forEach(element => {
        element.classList.add('active')
    });
    {% endif %}
</script>
<script src="{% static 'js/frontend/buy.js' %}"></script>
{% endblock script %}


    
