{% load static %}
<div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
    <a href="{% url 'single' x.slug %}">
        <div class="box mt-3">
            <div class="owl-carousel owl-theme img-box">
                <div class="item">
                    <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                </div>
                {% if x.property_image_two %}
                <div class="item">
                    <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                </div>
                {% endif %}
                {% if x.property_image_three %}
                <div class="item">
                    <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                </div>
                {% endif %}
            </div>
            <span class="buy-rent">{{x.buy_rent}}</span>
            <span class="circle"></span>
            <div class="txt-section">
                <h3>{{x.property_name}}</h3>
                <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                <span class="price">{{x.property_price}} AED {% if x.buy_rent == 'Rent' %} - Per Year{% endif %}</span>
                <div class="mt-3 d-flex align-items-center">
                    <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                        <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                        <p class="m-0">{{x.total_bedroom}}</p>
                    </div>
                    <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                        <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                        <p class="m-0">{{x.total_bathroom}}</p>
                    </div>
                    <div class="d-flex">
                        <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                        <p class="m-0">{{x.property_area}}</p>
                    </div>
                </div>
                <p class="ref-id">ID:{{x.ref_id}}</p>
                <div class="row msg_btn_parent">
                    <a class="col-4 px-1" hhref="tel:+971559998242"><button class="msg_btn"><i class="fa-solid fa-phone"></i>Call</button></a>
                    <a class="col-4 px-1" href="https://wa.me/+971559998242?text=Hi, I would like to get more information about this property http://139.59.32.134/property/{{x.slug}}"><button class="whatsapp msg_btn"><i class="fa-brands fa-whatsapp"></i>Whatsapp</button></a>
                    <a class="col-4 px-1" href="mailto:sales@knkrealestate.ae?Subject=Hi, I would like to get more information about this property http://139.59.32.134/property/{{x.slug}}"><button class="msg_btn"><i class="fa-sharp fa-solid fa-envelope"></i>Email</button></a>
                </div>
            </div>
        </div>
    </a>
</div>