{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
Contact | KNK
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
{% endblock style %}


{% block content %}
<div class="contact-section">
    <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="left-box">
                  <!-- <img src="stars.png" class="star" alt=""> -->
                  <span>Let's Meet Over Coffee</span>
                  <h1>CONTACT</h1>

                  <form id="contact-form" class="row">
                      <div class="col-md-3 col-sm-6 col-12">
                          <label for="">Name</label>
                          <input required id="name" type="text">
                      </div>
                      <div class="col-md-4 col-sm-6 col-12">
                          <label for="">Email</label>
                          <input required id="email" type="email">
                      </div>
                      <div class="col-md-5 col-12">
                          <label for="">Phone</label>
                          <input required id="phone" type="tel">
                      </div>
                      <div class="col-12">
                          <label for="">Message</label>
                          <input required id="message" type="text">
                      </div>
                      
                      <div class="col-12 mt-3 btn-div">
                          <button type="submit" class="button">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="px-md-0 px-sm-5 px-3 col-lg-4">
              <div class="right-box">
                  <h5>Talk to Us</h5>
                  <p class="email">sales@knkrealestate.ae</p>
                  <p class="phone"> +971559998242</p>

                  <a class="mt-3" href="">Facebook </a>
                  <a href="">Instagram</a>
                  <a href="">Twitter </a>

                  <h5 class="mt-5">Visit Us</h5>
                  <p class="mb-3 location">Building #533 Block #905 <br> riffa - Kingdom of Bahrain</p>

                  <a class="mt-4 map" href="">View On Map</a>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="sm-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="left-box">
                  <div class="row">
                      <div class="d-flex-full col-sm-9">
                          <h4>Providing the simplest solution for your Real Estate</h4>
                      </div>
                      <div class="col-sm-3 col-12 img-section">
                          <img src="{% static 'img/frontend/Right@300x.png' %}" alt="" class="img-fluid desktop">
                          <img src="{% static 'img/frontend/Down@300x.png' %}" alt="" class="img-fluid mobile">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center px-lg-5">
              <div class="right-box w-100">
                  <div class="row">
                      <div class="col-6">
                          <div class="box">
                              <h5><span class="counter">12</span>k+</h5>
                              <p>Happy <br class="sm-br"> Customers</p>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="second-box box">
                              <h5><span class="counter">18</span>k+</h5>
                              <p>Properties <br class="sm-br"> Sold</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<p class="d-none" id="csrf_token">{{csrf_token}}</p>




<!-- cta section  -->
<div class="cta-section">
  <div class="container">
   <div class="main-div">
       <div class="row">
           <div class="col-lg-6 col-12 px-0">
               <div class="left-box">
                   <img src="https://img.freepik.com/premium-photo/home-house-exterior-design-showing-tropical-pool-villa-with-greenery-garden-sun-bed-umbrella-pool-towels_41487-361.jpg?w=996" alt="" class="img-fluid">
               </div>
           </div>
           <div class="col-lg-6 col-12 px-0">
               <div class="right-box">
                   <h4>Get listed your home <br class="cta-br"/> as a owner</h4>
                   <p>Subscribe and Get In Touch</p>
                   <form id="subscription__form" class="email-box m-lg-0 m-auto row d-flex align-items-center">
                       <i class="col-2 fa-solid fa-envelope"></i>
                       <input required class="col-6  input" placeholder="Enter Email" id="subscription__email" type="email">
                       <button class="col-4 button" type="submit">Subscribe</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
  </div>
</div>
{% endblock content %}



{% block script %}
<script>
    document.querySelectorAll('.contact-nav').forEach(element => {
        element.classList.add('active')
    });
</script>
<!-- jquery cdn   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>
<script src="{% static 'js/frontend/jquery.waypoints.min.js.js' %}"></script>
<script src="{% static 'js/frontend/jquery.countup.js' %}"></script>
<script src="{% static 'js/frontend/subscription.js' %}"></script>
<script src="{% static 'js/frontend/contact.js' %}"></script>

{% endblock script %}
