
{% load static %}


  <footer>
    <!-- place footer here -->
    <div class="container">
        <div class="row">
            <div class="px-lg-2 col-lg-4 col-12">
                <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                <p class="description">With our services we help to bring you peace of mind that your property is being well taken care of, that you are receiving a cost-effective and efficient management service and enhanced service delivery.</p>
                <div class="social-icons d-flex">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="px-lg-3 col-lg-2 col-12">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'home' %}"><i class="fa-solid fa-arrow-right"></i> Home</a></li>
                    <li><a href="{% url 'about' %}"><i class="fa-solid fa-arrow-right"></i> About</a></li>
                    <li><a href="{% url 'buy' %}"><i class="fa-solid fa-arrow-right"></i> Buy</a></li>
                    <li><a href="{% url 'rent' %}"><i class="fa-solid fa-arrow-right"></i> Rent</a></li>
                    <li><a href="{% url 'premium' %}"><i class="fa-solid fa-arrow-right"></i> Premium</a></li>
                </ul>
            </div>
            <div class="px-lg-3 col-lg-3 col-12">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'standard' %}"><i class="fa-solid fa-arrow-right"></i> Standard</a></li>
                    <li><a href="{% url 'featured' %}"><i class="fa-solid fa-arrow-right"></i> Featured</a></li>
                    <li><a href="{% url 'international' %}"><i class="fa-solid fa-arrow-right"></i> International</a></li>
                    <li><a href=""><i class="fa-solid fa-arrow-right"></i> Privacy & Policy</a></li>
                    <li><a href="{% url 'contact' %}"><i class="fa-solid fa-arrow-right"></i> Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h4>Contact Us</h4>
                <div class="mb-3 d-flex location">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    <p>KNK Properties, <br> Building #1307 <br> Road #533 Block #905 <br> Riffa - Kingdom of Bahrain</p>
                </div>
                <div class="mb-3 d-flex call">
                    <i class="fa-solid fa-phone"></i>
                    <p>+971559998242</p>
                </div>
                <div class="mb-3 d-flex mail">
                    <i class="fa-solid fa-envelope"></i>
                    <p>sales@knkrealestate.ae</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center mt-3 mb-0">©️ KNK Properties. All Rights Deserved | Designed by <a href="https://mentegoz.com">Mentegoz</a></p>
  </footer>


