{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
 Home | KNK
{% endblock title %}

{% block content %}
 <!-- hero section  -->
    <form  action="{% url 'search' %}" method='get' class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-md-1 order-2">
                    <div class="left-box">
                        <img class="dots" src="{% static 'img/frontend/gray-dots.png' %}" alt="">
                        <h1>Find your dream property quickly and easily</h1>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam veritatis unde explicabo fugit </p>
                        <div class="input-box row">
                            {{myFilter.form.buy_rent}}
                            <div id="r"></div>
                            <div class="px-0 px-md-1 col-md-4" style="position: relative;">
                                {{myFilter.form.property_location}}
                                <i class="location-icon fa-solid fa-location-crosshairs"></i>
                            </div>
                            <div class="px-1 px-md-1 col-6 col-md-3">
                                {{myFilter.form.property_type}}
                            </div>
                            <div class="px-1 px-md-1 col-md-3 col-6">
                                <div id="price_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModal">Price</div>
                            </div>
                            <div id="ref-div" class="px-1 px-md-1 col-md-2 col-6 d-none">
                                {{myFilter.form.ref_id}}
                            </div>
                            <div id="bed-div" class="px-1 px-md-1 col-md-3 col-6 mt-md-3 d-none">
                                <div id="bed_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModalthree">Bed | Bath</div>
                            </div>
                            <div id="keyword-div" class="px-1 px-md-1 col-md-4 col-6 mt-md-3 d-none">
                                {{myFilter.form.property_keyword}}
                            </div>
                            <div id="area-div" class="px-1 px-md-1 col-md-3 col-6 mt-md-3 d-none">
                                <div id="area_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModaltwo">Area</div>
                            </div>
                            <div id="search-btn" class="col-md-2">
                                <button class="button">Search</button>
                            </div>

                            <div class="advance-txt col-12">
                                <p class="mt-3 mb-3 m-0 cursor" id="show_advance_txt">Show Advanced Search</p>
                                <p class="m-0 d-none mt-3 mb-3 cursor" id="hide_advance_txt">Hide Advanced Search</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-7 order-md-2 order-1">
                    <div class="right-box">
                        <img src="{% static 'img/frontend/hero-img.png' %}" alt="" class="hero-img img-fluid">
                        <img class="dots" src="{% static 'img/frontend/gray-dots.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
   

            <!-- price modal  -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Price Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="price_modal_body" class="px-5 modal-body row pb-5">
                        <div class="col-6">
                            {{myFilter.form.min_price}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_price}}
                        </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- area modal  -->
            <div class="modal fade" id="exampleModaltwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Area Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="area_modal_body" class="px-5 modal-body row pb-5">  
                        <div class="col-6">
                            {{myFilter.form.min_count_area}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_area}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- bed modal  -->
            <div class="modal fade" id="exampleModalthree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bed | Bath Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="bed_modal_body" class="px-5 modal-body">  
                    
                    <div class="row pb-3">
                        <div class="col-6">
                            {{myFilter.form.min_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.min_count_bathroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bathroom}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    </form>








    <!-- Featured properties  -->
    <div class="featured-properties">
        <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
        <div class="container">
            <a href="{% url 'premium' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Premium </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in premium_listing  %}
                        <div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
                            <a href="{% url 'single' x.slug %}">
                                <div class="box mt-3">
                                    <div class="owl-carousel owl-theme img-box">
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                                        </div>
                                        {% if x.property_image_two %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                        {% if x.property_image_three %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                    </div>
                                    <span class="buy-rent">{{x.buy_rent}}</span>
                                    <span class="circle"></span>
                                    <div class="txt-section">
                                        <h3>{{x.property_name}}</h3>
                                        <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                                        <span class="price">{{x.property_price}} AED</span>
                                        <div class="mt-3 d-flex align-items-center">
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                                <p class="m-0">{{x.total_bedroom}}</p>
                                            </div>
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                                <p class="m-0">{{x.total_bathroom}}</p>
                                            </div>
                                            <div class="d-flex">
                                                <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                                                <p class="m-0">{{x.property_area}}</p>
                                            </div>
                                        </div>
                                        <p class="ref-id">{{x.ref_id}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>




    <div class="mb-5 d-md-flex d-none flex-container ad-one container">
        {% for x in master_ad %}        
        <div>
            <a href="{{x.ad_one_link}}" target="_blank">
                <img src="{{x.ad_one.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% if x.ad_two %}
        <div>
            <a href="{{x.ad_two_link}}" target="_blank">
                <img src="{{x.ad_two.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% if x.ad_three %}
        <div>
            <a href="{{x.ad_three_link}}" target="_blank">
                <img src="{{x.ad_three.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>



    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-2.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-5_LgTW4Ge.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-6.jpeg" alt=""></a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Featured properties  -->
    <div class="featured-properties">
        <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
        <div class="container">
            <a href="{% url 'featured' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Featured </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in featured_listing  %}
                        <div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
                            <a href="{% url 'single' x.slug %}">
                                <div class="box mt-3">
                                    <div class="owl-carousel owl-theme img-box">
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                                        </div>
                                        {% if x.property_image_two %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                        {% if x.property_image_three %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                    </div>
                                    <span class="buy-rent">{{x.buy_rent}}</span>
                                    <span class="circle"></span>
                                    <div class="txt-section">
                                        <h3>{{x.property_name}}</h3>
                                        <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                                        <span class="price">{{x.property_price}} AED</span>
                                        <div class="mt-3 d-flex align-items-center">
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                                <p class="m-0">{{x.total_bedroom}}</p>
                                            </div>
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                                <p class="m-0">{{x.total_bathroom}}</p>
                                            </div>
                                            <div class="d-flex">
                                                <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                                                <p class="m-0">{{x.property_area}}</p>
                                            </div>
                                        </div>
                                        <p class="ref-id">{{x.ref_id}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>



    <div class="mb-5 d-md-flex d-none flex-container ad-one container">
        <div class="px-md-3">
            <a href="">
                <img src="https://img.freepik.com/free-photo/dining-area-comfortable-studio-flat-hotel-room_1262-12324.jpg?w=996&t=st=1669890290~exp=1669890890~hmac=069490632d2d857410b35e2850a7ead0bb90165a76877e067cc885628c8630e4" class="img-fluid" alt="">
            </a>
        </div>
        <div class="px-md-3">
            <a href="">
                <img src="https://img.freepik.com/free-photo/interior-living-room-with-sofa-empty-dark-blue-wall-3d-rendering_41470-3621.jpg?w=996&t=st=1669890343~exp=1669890943~hmac=252654125f8081dcd51a3d72f92a5849f5e5642244183a2a2c4b00a476e7f304" class="img-fluid" alt="">
            </a>
        </div>
    </div>



    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-2.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-5_LgTW4Ge.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-6.jpeg" alt=""></a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <!-- Featured properties  -->
    <div class="featured-properties">
        <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
        <div class="container">
            <a href="{% url 'standard' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Standard </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in standard_listing  %}
                        <div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
                            <a href="{% url 'single' x.slug %}">
                                <div class="box mt-3">
                                    <div class="owl-carousel owl-theme img-box">
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                                        </div>
                                        {% if x.property_image_two %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                        {% if x.property_image_three %}
                                        <div class="item">
                                            <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                                        </div>
                                        {% endif %}
                                    </div>
                                    <span class="buy-rent">{{x.buy_rent}}</span>
                                    <span class="circle"></span>
                                    <div class="txt-section">
                                        <h3>{{x.property_name}}</h3>
                                        <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                                        <span class="price">{{x.property_price}} AED</span>
                                        <div class="mt-3 d-flex align-items-center">
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                                <p class="m-0">{{x.total_bedroom}}</p>
                                            </div>
                                            <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                                <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                                <p class="m-0">{{x.total_bathroom}}</p>
                                            </div>
                                            <div class="d-flex">
                                                <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                                                <p class="m-0">{{x.property_area}}</p>
                                            </div>
                                        </div>
                                        <p class="ref-id">{{x.ref_id}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>



    <div class="mb-5 d-md-flex d-none flex-container container">
        <div class="px-md-3">
            <a href="">
                <img src="https://img.freepik.com/free-photo/old-buildings-gardens-nesebar-bulgaria_627829-14114.jpg?w=996&t=st=1669890603~exp=1669891203~hmac=cd1648fcb1dd1c429506eedfd58bcbfaa4499f50738832d0829351c2a6ea4931" class="img-fluid" alt="">
            </a>
        </div>
        <div class="px-md-3">
            <a href="">
                <img src="https://img.freepik.com/free-photo/empty-floor-front-modern-building_1127-3154.jpg?w=996&t=st=1669890571~exp=1669891171~hmac=352d72d9b01fd63f4c82c4bfb72d6cdd032d8b857cab0f127c38dd29edf1aaeb" class="img-fluid" alt="">
            </a>
        </div>
        <div class="px-md-3">
            <a href="">
                <img src="https://img.freepik.com/free-photo/living-room-interior-wall-warm-tones-gray-armchair-with-wood-cabinet-3d-rendering_41470-3656.jpg?w=900&t=st=1669890808~exp=1669891408~hmac=db4d0879b22f673c55605f23c17bf0f952f213dd7691b1ed2b1d2dddce0fbca7" class="img-fluid" alt="">
            </a>
        </div>
    </div>




    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper3">
            <div class="swiper-wrapper">
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-2.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-5_LgTW4Ge.jpeg" alt=""></a>
              </div>
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href=""><img src="https://rightmovebh.com/media/media/inner-6.jpeg" alt=""></a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
  </main>

{% endblock content %}






{% block script %}
<script src="{% static 'js/frontend/script.js' %}"></script>
{% endblock script %}