{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
 Home | KNK
{% endblock title %}

{% block content %}
 <!-- hero section  -->
    <form autocomplete="off" action="{% url 'search' %}" method='get' class="hero-section">
        <div class="container" style="position:relative">
            <div class="row">
                <div class="col-lg-5 col-12 order-lg-1 order-2">
                    <div class="left-box">                    
                        <img class="grid" src="{% static 'img/frontend/grid.png' %}" alt="">
                        <img class="dots" src="{% static 'img/frontend/gray-dots.png' %}" alt="">
                        <h1>Find your dream property quickly and easily</h1>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam veritatis unde explicabo fugit </p>
                        <div class="input-box row">
                            {{myFilter.form.buy_rent}}
                            <div id="r"></div>
                            <div class="px-0 px-md-1 col-md-5" style="position: relative;">
                                {{myFilter.form.property_location}}
                                <i class="location-icon fa-solid fa-location-crosshairs"></i>
                            </div>
                            <div class="px-1 px-md-1 col-6 col-md-3">
                                {{myFilter.form.property_type}}
                            </div>
                            <div class="px-1 px-md-1 col-md-2 col-6">
                                <div id="price_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModal">Price</div>
                            </div>
                            <div id="ref-div" class="px-1 px-md-1 col-md-2 col-6 d-none">
                                {{myFilter.form.ref_id}}
                            </div>
                            <div id="bed-div" class="px-1 px-md-1 col-md-3 col-6 mt-md-3 d-none">
                                <div id="bed_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModalthree">Bed | Bath</div>
                            </div>
                            <div id="keyword-div" class="px-1 px-md-1 col-md-4 col-6 mt-md-3 d-none">
                                {{myFilter.form.property_keyword}}
                            </div>
                            <div id="area-div" class="px-1 px-md-1 col-md-3 col-6 mt-md-3 d-none">
                                <div id="area_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModaltwo">Area</div>
                            </div>
                            <div id="search-btn" class="col-md-2">
                                <button class="button">Search</button>
                            </div>

                            <div class="advance-txt col-12">
                                <p class="mt-3 mb-3 m-0 cursor" id="show_advance_txt">Show Advanced Search</p>
                                <p class="m-0 d-none mt-3 mb-3 cursor" id="hide_advance_txt">Hide Advanced Search</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 order-lg-2 order-1">
                    <div class="right-box">
                        <img src="{% static 'img/frontend/hero-img.png' %}" alt="" class="hero-img img-fluid">
                        <img class="dots" src="{% static 'img/frontend/gray-dots.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
   

            <!-- price modal  -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Price Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="price_modal_body" class="px-5 modal-body row pb-5">
                        <div class="col-6">
                            {{myFilter.form.min_price}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_price}}
                        </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- area modal  -->
            <div class="modal fade" id="exampleModaltwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Area Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="area_modal_body" class="px-5 modal-body row pb-5">  
                        <div class="col-6">
                            {{myFilter.form.min_count_area}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_area}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- bed modal  -->
            <div class="modal fade" id="exampleModalthree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bed | Bath Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="bed_modal_body" class="px-5 modal-body">  
                    
                    <div class="row pb-3">
                        <div class="col-6">
                            {{myFilter.form.min_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.min_count_bathroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bathroom}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    </form>








    <!-- Featured properties  -->
    <div class="featured-properties">
        <div class="container" style="position:relative">
            <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
            <a href="{% url 'premium' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Premium </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in premium_listing  %}
                        {% include "frontend/card.html" %}
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>




    <div class="mb-5 d-md-flex d-none flex-container ad-one container">
        {% for x in master_ad %}        
        {% if x.ad_one_status %}
        <div>
            <a href="{{x.ad_one_link}}" target="_blank">
                <img src="{{x.ad_one.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% if x.ad_two %}
        {% if x.ad_two_status %}
        <div>
            <a href="{{x.ad_two_link}}" target="_blank">
                <img src="{{x.ad_two.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% if x.ad_three %}
        {% if x.ad_three_status %}
        <div>
            <a href="{{x.ad_three_link}}" target="_blank">
                <img src="{{x.ad_three.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>



    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper1">
            <div class="swiper-wrapper">
              {% for x in master_ad_mobile %}  
              {% if x.ad_one_status %}
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href="{{x.ad_one_link}}"><img src="{{x.ad_one.url}}" alt="" class="br-3" /></a>
              </div>
              {% endif %}
              {% if x.ad_two %}
              {% if x.ad_two_status %}
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href="{{x.ad_two_link}}"><img src="{{x.ad_two.url}}" alt="" class="br-3" /></a>
              </div>
              {% endif %}
              {% endif %}
              {% if x.ad_three %}
              {% if x.ad_three_status %}
              <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                <a href="{{x.ad_three_link}}"><img src="{{x.ad_three.url}}" alt="" class="br-3" /></a>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}     
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Featured properties  -->
    <div class="featured-properties">
        <div class="container" style="position:relative">
            <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
            <a href="{% url 'featured' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Featured </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in featured_listing  %}
                        {% include "frontend/card.html" %}
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>



    <div class="mb-5 d-md-flex d-none flex-container ad-one container">
        {% for x in second_ad %}
        {% if x.ad_one_status %}
        <div class="px-md-3">
            <a href="{{x.ad_one_link}}">
                <img src="{{x.ad_one.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% if x.ad_two %}
        {% if x.ad_two_status %}
        <div class="px-md-3">
            <a href="{{x.ad_two_link}}">
                <img src="{{x.ad_two.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% if x.ad_three %}
        {% if x.ad_three_status %}
        <div class="px-md-3">
            <a href="{{x.ad_three_link}}">
                <img src="{{x.ad_three.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>



    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper2">
            <div class="swiper-wrapper">
                {% for x in second_ad_mobile %}  
                {% if x.ad_one_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_one_link}}"><img src="{{x.ad_one.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% if x.ad_two %}
                {% if x.ad_two_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_two_link}}"><img src="{{x.ad_two.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% endif %}
                {% if x.ad_three %}
                {% if x.ad_three_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_three_link}}"><img src="{{x.ad_three.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}    
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <!-- Featured properties  -->
    <div class="featured-properties">
        <div class="container" style="position:relative">
            <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
            <a href="{% url 'standard' %}"><button class="button show-more-btn">Show More</button></a>
            <h4><span>Standard </span> Listing</h4>
            <div class="property-box">
                <div class="row">
                    {% for x in standard_listing  %}
                        {% include "frontend/card.html" %}
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>



    <div class="mb-5 d-md-flex d-none flex-container container">
        {% for x in third_ad %}
        {% if x.ad_one_status %}
        <div class="px-md-3">
            <a href="{{x.ad_one_link}}">
                <img src="{{x.ad_one.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% if x.ad_two %}
        {% if x.ad_two_status %}
        <div class="px-md-3">
            <a href="{{x.ad_two_link}}">
                <img src="{{x.ad_two.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% if x.ad_three %}
        {% if x.ad_three_status %}
        <div class="px-md-3">
            <a href="{{x.ad_three_link}}">
                <img src="{{x.ad_three.url}}" class="img-fluid" alt="">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>




    <div class="container d-md-none d-flex justify-content-center align-items-center">
        <div class="w-100 pb-3 swiper mySwiper3">
            <div class="swiper-wrapper">
                {% for x in third_ad_mobile %}  
                {% if x.ad_one_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_one_link}}"><img src="{{x.ad_one.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% if x.ad_two %}
                {% if x.ad_two_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_two_link}}"><img src="{{x.ad_two.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% endif %}
                {% if x.ad_three %}
                {% if x.ad_three_status %}
                <div class="swiper-slide w-100 d-flex justify-content-center align-items-center">
                  <a href="{{x.ad_three_link}}"><img src="{{x.ad_three.url}}" alt="" class="br-3" /></a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}    
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
  </main>


{% endblock content %}






{% block script %}
<script>
    document.querySelectorAll('.home-nav').forEach(element => {
        element.classList.add('active')
    });
</script>
<script src="{% static 'js/frontend/script.js' %}"></script>
<script src="{% static 'js/frontend/autocomplete.js' %}"></script>
{% endblock script %}