
{% load static %}

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">Logo</a>
          <img src="img/menu.png" class="menu navbar-toggler" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Buy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Rent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
              <a class="enquire-btn" href=""><button class="button">Enquire</button></a>
            </ul>
          </div>
        </div>
    </nav>





    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <a href="">Logo</a>
          <img src="img/x-mark.png" class="close" alt="" data-bs-dismiss="offcanvas" aria-label="Close">
        </div>
        <div class="offcanvas-body">
          <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Buy</a></li>
            <li><a href="">Rent</a></li>
            <li><a href="">Contact</a></li>
          </ul>

          <div class="social-media-icons">
            <i class="fa-solid fa-brands fa-facebook"></i>
            <i class="fa-solid fa-brands fa-twitter"></i>
            <i class="fa-solid fa-brands fa-instagram"></i>
            <i class="fa-solid fa-brands fa-whatsapp"></i>
          </div>
        </div>
    </div>
  </header>

