
{% load static %}

  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt=""></a>
          <img src="{% static 'img/frontend/menu.png' %}" class="menu navbar-toggler" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link home-nav" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link about-nav" aria-current="page" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link buy-nav" aria-current="page" href="{% url 'buy' %}">Buy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link rent-nav" aria-current="page" href="{% url 'rent' %}">Rent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link management-nav" aria-current="page" href="{% url 'property-management' %}">Property Management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link list-nav" aria-current="page" href="{% url 'list' %}">List Your Property</a>
              </li>
              <li class="nav-item">
                <a class="nav-link contact-nav" aria-current="page" href="{% url 'contact' %}">Contact</a>
              </li>
              <a class="enquire-btn" href="{% url 'contact' %}"><button class="button">Enquire</button></a>
            </ul>
          </div>
        </div>
    </nav>





    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <a href=""><img class="offcanvas-logo" src="{% static 'img/logo.png' %}" alt=""></a>
          <img src="{% static 'img/frontend/x-mark.png' %}" class="close" alt="" data-bs-dismiss="offcanvas" aria-label="Close">
        </div>
        <div class="offcanvas-body">
          <ul>
            <li><a href="{% url 'home' %}" class="home-nav">Home</a></li>
            <li><a href="{% url 'about' %}" class="about-nav">About</a></li>
            <li><a href="{% url 'buy' %}" class="buy-nav">Buy</a></li>
            <li><a href="{% url 'rent' %}" class="rent-nav">Rent</a></li>
            <li><a href="{% url 'list' %}" class="list-nav">List</a></li>
            <li><a href="{% url 'contact' %}" class="contact-nav">Contact</a></li>
          </ul>

          <div class="social-media-icons">
            <i class="fa-solid fa-brands fa-facebook"></i>
            <i class="fa-solid fa-brands fa-twitter"></i>
            <i class="fa-solid fa-brands fa-instagram"></i>
            <i class="fa-solid fa-brands fa-whatsapp"></i>
          </div>
        </div>
    </div>
  </header>

