{% extends "frontend/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
{% endblock style %}


{% block title %}
 Property | management
{% endblock title %}

{% block content %}

<p class="d-none" id="csrf_token">{{csrf_token}}</p>


<div class="pt-4 property_management">
    <div class="mt-4 container">
        <img src="{% static 'img/frontend/property-management.png' %}" alt="" class="d-md-block d-none img-fluid">
        <img src="{% static 'img/frontend/property-management-mobile.png' %}" alt="" class="d-md-none d-block img-fluid">

        <div class="mt-5">
            <h2 class="h2__tag">Why should you choose Knk real estate <br> to manage <span>your property?</span></h2>
            <div class="mt-3 pt-3 pb-5 row">
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Better occupancy rate</h5>
                        <p>With an occupancy rate averaging at 95%, we attract only high-quality tenants for your property.</p>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Higher rentals</h5>
                        <p>Units managed by our property management team yielded on average 6.14% higher rental prices than non-managed residential units leased.</p>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Happy tenants</h5>
                        <p>A well-managed property means happy tenants. Our happy tenants stay longer, which reduces the vacant periods between tenancies.</p>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Hassle-free</h5>
                        <p>Our professional team are equipped to handle any situation, taking away the hassles and worries of managing the tenancies including collecting payments, completing renewal formalities as per the governing laws and maintaining your property, giving you a total peace of mind.</p>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Quality maintenance</h5>
                        <p>A dedicated team of qualified contractors that have been vetted and approved by newdoor, you can be confident of the quality of maintenance work carried out on your property, protecting the long term value of your asset.</p>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6 col-12">
                    <div class="b_o_x">
                        <h5 class="mb-3">Quarterly account statements</h5>
                        <p>Our team will prepare income and expense statements for your property and these will be sent over every quarter and any other information as mutually agreed or as required.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="building_section row mt-5 mb-3">
            <div class="col-md-6 col-12">
                <dov class="bo_x">
                    <img src="{% static 'img/frontend/building.png' %}" alt="" class="img-fluid">
                </dov>
            </div>
            <div class="px-md-3 px-0 col-md-6 col-12 d-flex justify-content-center align-items-center flex-column">
                <div class="bo_x px-3">
                    <h3 class="">Managing The Buildings</h3>
                    <p>Our dedicated team is made up of over 50 members and we manage a range of commercial and residential units. Our clients include banks, corporate and financial institutions. We offer best in class technology that includes Yardi property management software, PropSpace CRM, the Easy Inspection app for inspections, and we also send automated reminders for renewals and post dated cheques to ultimately provide an excellent service to our clients.</p>
                    <p>With our services we help to bring you peace of mind that your property is being well taken care of, that you are receiving a cost-effective and efficient management service and enhanced service delivery.</p>
                </div>
            </div>
        </div>
        <div class="pt-5 row">
            <div class="mt-3 col-lg-8 col-12">
                <h3 class="head_txt">Why Us</h3>
                <p class="para">We provide end to end property management services for all kinds of properties. This starts with marketing and leasing, to tenant and lease management, inspections and audits, shortlisting and finalising the service provider on behalf of the landlord, overseeing the facility management service provider and even accounting and reporting. Our dedicated team is in place to provide these services to support you as a landlord by reducing the time and stress involved with managing your property, reducing vacant periods and maximising your revenue.</p>
                <div class="left-box">
                    <h1>CONTACT</h1>
  
                    <form id="contact-form" class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <label for="">Name</label>
                            <input required id="name" type="text">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <label for="">Email</label>
                            <input required id="email" type="email">
                        </div>
                        <div class="col-md-5 col-12">
                            <label for="">Phone</label>
                            <input required id="phone" type="tel">
                        </div>
                        <div class="col-12">
                            <label for="">Message</label>
                            <input required id="message" type="text">
                        </div>
                        
                        <div class="col-12 mt-3 btn-div">
                            <button type="submit" class="button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-3 col-lg-4 col-12">
                <div class="right-box">
                    <h5>Talk to Us</h5>
                    <p class="email">sales@knkrealestate.ae</p>
                    <p class="phone">+971559998242</p>
  
                    <a class="mt-3" href="">Facebook </a>
                    <a href="">Instagram</a>
                    <a href="">Twitter </a>
  
                    <h5 class="mt-5">Visit Us</h5>
                    <p class="mb-3 location">Building #533 Block #905 <br> riffa - Kingdom of Bahrain</p>
  
                    <a class="mt-4 map" href="">View On Map</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}






{% block script %}
<script>
    document.querySelectorAll('.management-nav').forEach(element => {
        element.classList.add('active')
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>
<script src="{% static 'js/frontend/contact.js' %}"></script>
{% endblock script %}