{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
Search | KNK
{% endblock title %}
   
{% block content %}
<div class="search-section">
    <img src="{% static 'img/frontend/gray-dots.png' %}" alt="" class="dots">
    <div class="container px-lg-5">
        <form autocomplete="off" action="" method="get" class="row search-box">
            {{myFilter.form.buy_rent}}
            <div id="r"></div>
            <div class="mt-3 location px-0 px-md-2 col-md-5">
                {{myFilter.form.property_location}}
                <i class="location-icon fa-solid fa-location-crosshairs"></i>
            </div>
            <div class="mt-3 px-1 px-md-2 col-md-3 col-7">
                {{myFilter.form.property_type}}
            </div>
            <div class="mt-3 px-1 px-md-2 col-md-2 cursor price-div col-5">
                <img src="{% static 'img/frontend/filter.png' %}" alt="" class="filter">
                <div id="price_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModal">Price</div>
            </div>
            <div id="ref-div" class="mt-3 px-1 px-md-2 col-md-2 col-4">
                {{myFilter.form.ref_id}}
            </div>
            <div class="mt-3 px-1 px-md-2 col-md-4 col-8">
                {{myFilter.form.property_keyword}}
            </div>
            <div id="bed-div" class="bed-div mt-3 px-1 px-md-2 col-md-3 cursor col-6">
                <div id="bed_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModalthree">Bed | Bath</div>
            </div>
            <div id="area-div" class="area-div mt-3 px-1 px-md-2 col-md-3 cursor col-6">
                <div id="area_modal_btn" class="input" data-bs-toggle="modal" data-bs-target="#exampleModaltwo">Area</div>
            </div>
            <div class="mt-3 col-md-2 px-0 px-md-2">
                <button class="button">Search</button>
            </div>



                        

            <!-- price modal  -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Price Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="price_modal_body" class="px-5 modal-body row pb-5">
                        <div class="col-6">
                            {{myFilter.form.min_price}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_price}}
                        </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- area modal  -->
            <div class="modal fade" id="exampleModaltwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Area Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="area_modal_body" class="px-5 modal-body row pb-5">  
                        <div class="col-6">
                            {{myFilter.form.min_count_area}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_area}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>


            <!-- bed modal  -->
            <div class="modal fade" id="exampleModalthree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="px-5 modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bed | Bath Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="bed_modal_body" class="px-5 modal-body">  
                    
                    <div class="row pb-3">
                        <div class="col-6">
                            {{myFilter.form.min_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bedroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.min_count_bathroom}}
                        </div>
                        <div class="col-6">
                            {{myFilter.form.max_count_bathroom}}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>




{% if properties %}

<div class="container no-match">
    <h4 class="mt-5 heading text-center"><span>Matched </span> Properties</h4>
  </div>
  
  
  <div class="searched-properties mt-md-5 mt-2">
    <div class="container">
      <div class="property-box">
        <div class="row">
          {% for x in properties  %}
              <div class="mb-3 col-sm-6 col-lg-4 col-12 px-md-3">
                  <a href="{% url 'single' x.slug %}">
                      <div class="box mt-3">
                          <div class="owl-carousel owl-theme img-box">
                              <div class="item">
                                  <img class="img-fluid w-100 property-img" src="{{x.property_image.url}}" alt="">    
                              </div>
                              {% if x.property_image_two %}
                              <div class="item">
                                  <img class="img-fluid w-100 property-img" src="{{x.property_image_two.url}}" alt="">    
                              </div>
                              {% endif %}
                              {% if x.property_image_three %}
                              <div class="item">
                                  <img class="img-fluid w-100 property-img" src="{{x.property_image_three.url}}" alt="">    
                              </div>
                              {% endif %}
                          </div>
                          <span class="buy-rent">{{x.buy_rent}}</span>
                          <span class="circle"></span>
                          <div class="txt-section">
                              <h3>{{x.property_name}}</h3>
                              <p class="location"><i class="fa-solid fa-location-dot"></i> {{x.property_location}}</p>
                              <span class="price">{{x.property_price}} AED</span>
                              <div class="mt-3 d-flex align-items-center">
                                  <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                      <img class="icon" src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                      <p class="m-0">{{x.total_bedroom}}</p>
                                  </div>
                                  <div class="d-flex icon-box" style="border-right: 1px solid var(--red);">
                                      <img class="icon" src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                      <p class="m-0">{{x.total_bathroom}}</p>
                                  </div>
                                  <div class="d-flex">
                                      <img class="icon" src="{% static 'img/frontend/area.png' %}" alt="">
                                      <p class="m-0">{{x.property_area}}</p>
                                  </div>
                              </div>
                              <p class="ref-id">{{x.ref_id}}</p>
                          </div>
                      </div>
                  </a>
              </div>
          {% endfor %}
        </div>                
    </div>
    </div>
  </div>
{% else %}
    <div class="container no-match">
      <h4 class="mt-5 heading text-center"><span>Oops, </span> No Such Properties Found</h4>
    </div>
{% endif %}


{% endblock content %}



{% block script %}
  <!-- custom js  -->
  <script>
    document.querySelectorAll('.home-nav').forEach(element => {
        element.classList.add('active')
    });
  </script>
  <script src="{% static 'js/frontend/search.js' %}"></script>
  <script src="{% static 'js/frontend/autocomplete.js' %}"></script>
{% endblock script %}






