{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
{% if property.meta_title %}
        {{property.meta_title}}
    {% else %}
        Property | KNK
    {% endif %}
{% endblock title %}

{% block meta %}
    {% if property.meta_description %}
        <meta name="description" content="{{property.meta_description}}">
    {% endif %}
    {% if property.meta_keyword %}
        <meta name="keywords" content="{{property.meta_keyword}}">
    {% endif %}
{% endblock meta %}






{% block content %}
<div class="mt-lg-0 mt-4 single-property">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="left-box">
                    {% if property.property_map_location %}  
                        <a class="text-dark" href="{{property.property_map_location}}" target="_blank">
                            <i class="fa-solid fa-location-crosshairs location"></i>
                        </a>
                    {% endif %}
                    {% if property.property_video_link %}  
                        <a href="{{property.property_video_link}}" class="popup text-dark" target="_blank">
                            <i class="fa-brands fa-youtube youtube"></i>
                        </a>
                    {% endif %}
                    <img src="{{property.property_image.url}}" alt="" class="mainImg img-fluid">
                    <div class="mt-2 d-flex property-slider">
                        <img src="{{property.property_image.url}}" alt="" class="smallImg me-1">
                        {% if property.property_image_two %}  
                        <img src="{{property.property_image_two.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_three %}  
                        <img src="{{property.property_image_three.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_four %}  
                        <img src="{{property.property_image_four.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_five %}  
                        <img src="{{property.property_image_five.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_six %}  
                        <img src="{{property.property_image_six.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_seven %}  
                        <img src="{{property.property_image_seven.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_eight %}  
                        <img src="{{property.property_image_eight.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_nine %}  
                        <img src="{{property.property_image_nine.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                        {% if property.property_image_ten %}  
                        <img src="{{property.property_image_ten.url}}" alt="" class="smallImg me-1">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 d-flex align-items-center">
                <div class="right-box">
                    <p class="rent-buy">{{property.buy_rent}}</p>
                    <h3 class="property-name">{{property.property_name}}</h3>
                    <p class="location"><i class="location-icon fa-solid fa-location-crosshairs"></i>Juffair, Manama, Bahrain</p>
                    <p class="price mb-4">{{property.property_price}} AED</p>
                    <p class="type">Property Type: {{property.property_type}}</p>
                    <p class="furnished-type">Furnished Type: {{property.furnished_type}}</p>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="bedroom">
                                <img src="{% static 'img/frontend/double-bed.png' %}" alt="">
                                <p>{{property.total_bedroom}} Bed</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="bathroom">
                                <img src="{% static 'img/frontend/bathtub.png' %}" alt="">
                                <p>{{property.total_bathroom}} Bath</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="area">
                                <img src="{% static 'img/frontend/area.png' %}" alt="">
                                <p>{{property.property_area}} sqft</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 box">
                        <h5 class="enquire">Enquire Now</h5>
                        <div class="d-flex">
                            
                            <a href="https://wa.me/+97366706100?text=Hi, I would like to get more information about this property http://139.59.32.134/property/{{property.slug}}"><button class="whatsapp button">Whatsapp</button></a>
                            <a href="tel:+973 66706100"><button class="call button">Call</button></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-box">
                    <h4 class="mt-md-2 mt-4">Property Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="para">Property Type : {{property.property_type}}</p>
                            <p class="para">Total Area : {{property.property_area}} sqm</p>
                            <p class="para">Property Price : {{property.property_price}} AED</p>
                            <p class="para">Total Bedrooms : {{property.total_bedroom}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="para">Total Bathroom : {{property.total_bathroom}}</p>
                            <p class="para">Parking Slot : {{property.parking_slot}}</p>
                            <p class="para">Furnished Type : {{property.furnished_type}}</p>
                            <p class="para">Water and Electricity: {{property.water_and_electricity}}</p>
                        </div>
                    </div>

                    <h4 class="mt-5">Amenities</h4>
                    <div class="row">
                        {% for x in property.property_amenities.all  %}  
                        <div class="col-lg-5 col-md-6 col-12">
                            <div class="amenities-box">
                                <img src="{{x.amenities_icon.url}}" alt="">
                                <span>{{x.amenities_name}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-box">
                    <div class="innerad">
                        <div data-aos="fade-left" class="py-3 swiper mySwiper">
                            <div class="swiper-wrapper">
                              {% for x in inner_ad %}
                              <div class="swiper-slide">
                                <a href="{{x.ad_one_link}}"><img src="{{x.ad_one.url}}" alt=""></a>
                              </div>
                              <div class="swiper-slide">
                                <a href="{{x.ad_two_link}}"><img src="{{x.ad_two.url}}" alt=""></a>
                              </div>
                              <div class="swiper-slide">
                                <a href="{{x.ad_three_link}}"><img src="{{x.ad_three.url}}" alt=""></a>
                              </div>
                              {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-5 description">
            <h4>Description</h4>
            <p>{{property.property_description | safe}}</p>
        </div>
    </div>
</div>




<div class="related-properties">
    <div class="container">
        <h4 class="heading">Related Properties</h4>
        <div class="property-box">
            <div class="row">
                {% for x in properties  %}
                    {% include "frontend/card.html" %}
                {% endfor %}
            </div>                
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelectorAll('.home-nav').forEach(element => {
        element.classList.add('active')
    });
</script>
<script src="{% static 'js/frontend/single.js' %}"></script>
{% endblock script %}
 